/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body { 
  margin:0; 
  padding:0; 
}

#map { 
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%; 
}

#backButton {
  position: relative;
  margin-top: 10px;
  margin-left: 25%;
  width: 22.5%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #ee8a65;
}

#zoomButton {
  position: relative;
  margin-top: 10px;
  margin-left: 5%;
  width: 22.5%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background: #ee8a65;
}

.geocoder {
    position: relative;
    z-index:1;
    width:50%;
    margin-left:25%;
    top:10px;
}

.mapboxgl-ctrl-geocoder { 
  min-width:100%; 
}

.add-margin {
  margin: 2%;
  position: fixed;
  top: width/2;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
}

.ui-widget-content {
    background: #EFE6FF;
    border: 1px solid #00E6D7;
    color: #222222;
}

.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 1.5em;
    text-align: center;
}

.ui-widget-header {
    background: #00E6D7;
  border: 0;
  color: #fff;
  font-weight: normal;
  text-align: center;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
    font-size: 1.5em;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
