<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>NOAH</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css')}} " type="text/css" rel="stylesheet" media="screen,projection"/>

  <style>
    .img-blur {
      -webkit-filter: blur(3px);
      filter: blur(3px);
    }

    .cc {
      border:1px solid black; 
      min-height:400px; 
      max-height:400px
    }

    body {
      font-size: 20px !important;
      font-family: 'EB Garamond', serif !important;
      background: linear-gradient(180deg, #ffffff 0%, #f6f6f6 51%, #dedede 75%);
    }

    .bio {
      font-size: 18px !important;
    }


  </style>

</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <ul id="nav" class="sidenav">
        <li>
          <a href="#">Home</a>
          <a href="#about">Breaking Things Down</a>
          <a href="#research">Data Sources</a>
          <a href="#origin">Origin Story</a>
          <a href="#team">The Team</a>
          <a href="#contact">Contact Us</a>
        </li>
      </ul>
      <a href="#" data-target="nav" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
      <a id="logo-container" href="#" class="brand-logo">NOAH</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container center-align valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <a href="{{ url_for('render_map') }}" class="waves-effect waves-light btn-large black darken-4"><i class="material-icons right">map</i>Open Map</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img class="img-blur" src="/static/images/Precipitation_longterm_mean.gif" alt="Precipitation longterm mean"></div>
  </div>

  <div class="container" id="about">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>NOAH: Tracking Water </h4>
        </div>
      </div>
    </div>
  </div>  

  <div class="container">
    <div class="card darken-1">
      <div class="card-content">
        <p class="left-align light">
          Water availability dictates the wellbeing of entire communities. Yet, we tend to know very little about our water supplies. 
          <br>
          <br>
          NOAH aims to make water data more accessible and understandable.   
          <br/>
          <br/>
          This map depicts shifts in rainfall and surface water patterns over the last four decades across the planet. By comparing changes in the water surface level and rainfall highs and lows, you can begin to identify how your community has been affected by water fluctuations, and how much. 
          <br>
          <br>
          In regions where the amount of water in lakes and rivers has changed substantially, governments treat water data as a national secret. Recently, as more dams, dikes and homes have been built along waterways, downstream effects have manifested. For example, in southern Louisiana and coastal Bangladesh, dams constructed upstream have blocked water supply to communities downstream. 
          <br>
          <br>
          Unprecedented climate change is already increasing the extremes. Droughts are now longer and frequent, the monsoons more erratic. We invite you to use NOAH to explore these topics. 
        </p>
      </div>

      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
          <li class="tab"><a class="active" href="#why">Using NOAH</a></li>
          <li class="tab"><a href="#call">Case Study</a></li>
          <li class="tab"><a href="#thank">Acknowledgements</a></li>
        </ul>
      </div>
      <div class="card-content grey white lighten-4">
        <div id="why">
          <p class="left-align light">
            NOAH gives journalists  rich opportunities to discover, report and tell stories. 
            <br>
            <br>
            Touring the world in NOAH, you can find a town where the community’s reservoir is severely depleted, but rainfall has remained stable; raising questions about water management or upstream engineering. You may also stumble upon an area where little has changed on the surface, but where rainfall highs and lows have fluctuated dramatically. How has that changed the communities?
            <br/>
            <br/>
            If you’re a journalist covering a particular area, you can request the raw data for that region. When a climate or water event crops up, you can access both historical and modern-day data to inform your reporting.
            <br/>
            <br/>
            The journalists on our team are available to guide you through the map, talk through story ideas and share tips on climate reporting. If you reach out to us at <a href="mailto:water.appspot@gmail.com">water.appspot@gmail.com</a>, one of our journalists will respond within the week and set up a time to chat.
          </p>
        </div>
        <div id="call">
          <p class="left-align light">
            In Kaliapat, a coastal village in India, Kuntala Rout spends as many as four hours a day filling up vessels with water so her family has enough to drink. Rout says she tries to drink as little water as she can to avoid extra trips to the hand pump.
            <br/>
            <br/>
            Rout is not alone. From Kaliapat, to communities along Utah’s northern border in the U.S., to cities in central Argentina, water availability is a pressing issue that transcends borders.
            <br/>
            <br/>
            By using this map, Disha Shetty, a co-starter of NOAH, found that Kaliapat and its surrounding areas had seen a severe decrease in surface water in the past three decades. Read the story <a href="https://www.indiaspend.com/as-climate-change-grows-more-intense-women-in-battered-coastal-odisha-step-up/">here</a>. It’s an example of how the map and long-term climate data can be used to both locate areas facing distress and enhance storytelling. 
          </p>
        </div>
        <div id="thank">
          <p class="left-align light">
            We would also like to take this opportunity to express our gratitude to <a href="https://brown.columbia.edu/">The Brown Institute for Media Innovation</a>, without whose support this project would not have been possible.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="/static/images/Dec_2018_Anomaly.gif" alt="Dec 2018 Precipitation Anomaly"></div>
  </div>

  <div class="container" id="research">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Data Sources</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card darken-1">
        <div class="card-content grey white lighten-4">
          <p class="left-align light">
            We used open-source data to build this platform, and we’re eager to share what we’ve collected. If you’re interested in interacting with and interrogating the raw data, don’t hesitate to reach out. Our team can provide you with data that matches your region and time-period of interest and talk about any questions you may have.
            <br>
            <br>
            Sources: The National Oceanic and Atmospheric Administration (NOAA) Climate Prediction Center’s Climate Anomaly Monitoring System_OPI provided monthly rainfall data going back to 1978. Columbia University’s International Research Institute for Climate and Society houses this information and presents it in <a href="http://iridl.ldeo.columbia.edu/maproom/Global/Precipitation/Anomaly.html#tabs-1">its own online map</a>. 
            <br>
            <br>
            The global surface water data is courtesy of the European Commission’s Joint Research Centre. Using three million Landsat satellite images, a four-person team at the centre quantified the changes in global surface water between 1984 and 2015. The team published their findings and analysis in <a href="https://www.nature.com/articles/nature20584"><i>Nature</i> in December 2016</a>. 
          </p>
        </div>
    </div>
  </div>

  <div class="container" id="origin">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Origin Story</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card darken-1">
        <div class="card-content grey white lighten-4">
          <p class="left-align light">
            Origin story: The idea for NOAH came in early 2018. Pietro Ceccato, a climate scientist, was teaching a course at Columbia University’s medical school on how to infuse climate data into public health work. Disha Shetty, a health journalist from India who was working toward her master’s in journalism, walked into the classroom to learn how to better use data in reporting on unprecedented climate changes. After a few courses, the two began chatting about a project that would combine journalism and climate data. 
            <br>
            <br>
            While data on changes in surface water was available through the European Commission’s Joint Research Centre, it wasn’t combined with rainfall trends in a single map. Combining the two in NOAH paints a more complete picture of changes in the water cycle and highlights the impacts of human interventions.
          </p>
        </div>
    </div>
  </div>
  
  <div class="container" id="team">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Team NOAH</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row bio">
      <div class="col s12 m6 l4">
        <div class="card grey darken-1 cc">
          <div class="card-content white-text">
            <span class="card-title"><u>Pietro Ceccato</u></span>
            <p><a target="_blank" href="https://www.linkedin.com/in/pietro-ceccato-694b231a"><strong>Pietro Ceccato</strong></a> is a development manager at SPACEBEL, Belgium. He’s responsible for developing applications of remote sensing for agriculture, forestry, natural disasters, human health and pests.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card grey darken-1 cc">
          <div class="card-content white-text">
            <span class="card-title"><u>Disha Shetty</u></span>
            <p><a target="_blank" href="https://twitter.com/dishashetty20"><strong>Disha Shetty</strong></a> is an award-winning Science journalist based out of India. She mainly writes about public health, climate change and the intersection between the two.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card grey darken-1 cc">
          <div class="card-content white-text">
            <span class="card-title"><u>Maya Miller</u></span>
            <p><a target="_blank" href="https://twitter.com/mayatmiller"><strong>Maya Miller</strong></a> is a data-driven investigative journalist based out of the United States. She reports on health and climate, as well as government oversight.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card grey darken-1 cc">
          <div class="card-content white-text">
            <span class="card-title"><u>Pankhuri Kumar</u></span>
            <p><a target="_blank" href="https://pankhurikumar23.github.io/"><strong>Pankhuri Kumar</strong></a> is pursuing a dual master’s degree in computer science and journalism from Columbia University. She reports on bias in algorithms.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card grey darken-1 cc">
          <div class="card-content white-text">
            <span class="card-title"><u>Ravie Lakshmanan</u></span>
            <p><a target="_blank" href="https://ravielakshmanan.github.io/"><strong>Ravie Lakshmanan</strong></a> is a computational journalist based out of India. He is a news engineer, and has previously reported on wealth management.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer teal">
    <div class="container" id="contact">
      <h4>Contact Us</h4>
      <p class="left-align light">Have any questions? Get in touch with us here: <i class="material-icons">email</i>
              <a class="white-text" href="mailto:water.appspot@gmail.com">Email</a></p>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Built using <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize CSS</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.tabs').tabs();
    });
  </script>

  </body>
</html>
