<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>NOAH</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css')}} " type="text/css" rel="stylesheet" media="screen,projection"/>

  <style>
    .img-blur {
      -webkit-filter: blur(3px);
      filter: blur(3px);
    }

    .cc{
      border:1px solid black; 
      min-height:400px; 
      max-height:400px
    }


  </style>

</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <ul id="nav" class="sidenav">
        <li>
          <a href="#">Home</a>
          <a href="#about">Breaking Things Down</a>
          <a href="#research">Data Sources</a>
          <a href="#team">The Team</a>
          <a href="#contact">Contact Us</a>
        </li>
      </ul>
      <a href="#" data-target="nav" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
      <a id="logo-container" href="#" class="brand-logo">NOAH</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container center-align valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <a href="{{ url_for('render_map') }}" class="waves-effect waves-light btn-large black darken-4"><i class="material-icons right">map</i>Open Map</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img class="img-blur" src="/static/images/Precipitation_longterm_mean.gif" alt="Precipitation longterm mean"></div>
  </div>



  <div class="container" id="about">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Breaking Things Down</h4>
        </div>
      </div>
    </div>
  </div>  

  <div class="container">
    <div class="card darken-1">
      <div class="card-content">
        <p class="left-align light"><strong>Origin story:</strong>
          The idea for this map began in the early months of 2018. Pietro Ceccato, a climate scientist, was teaching a course at Columbia University’s medical school on how to infuse data into climate and public health work. Disha Shetty, a health journalist from India who was working toward her master’s in journalism, walked into the classroom already having wrestled with how to report on unprecedented climate changes. After a few courses, the two began chatting about a project that would combine journalism and climate data. While data on changes in surface water was available through the European Commission’s Joint Research Centre, it wasn’t combined with rainfall trends in a single map. Combining the two  paints a more complete picture of what’s happening to water, and highlights the impacts of human-made interventions.</p><br/><br/>
        <p class="left-align light">
          At its core, the project was driven by the sheer extent that water availability dictates the wellbeing of entire communities--and yet how little communities tend to know about their water surroundings. 
        </p>
      </div>

      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
          <li class="tab"><a class="active" href="#why">Why This Matters?</a></li>
          <li class="tab"><a href="#call">Calling All Journalists</a></li>
        </ul>
      </div>
      <div class="card-content grey white lighten-4">
        <div id="why">
          <p class="left-align light">
            The ultimate goal is to make information about water more accessible to all. In areas in the world where the amount of water that populates lakes and rivers has substantially changed, water data can be treated as a national secret. As more dams, dikes and even homes have been constructed along waterways in the last few decades--downstream effects have manifested. By comparing changes in the water-surface level and rainfall highs and lows, you can begin to identify how and whether your community has been affected, and how much.
          </p><br/><br/>
          <p class="left-align light">
            Increased levels of carbon dioxide in the atmosphere mean higher temperatures and more extremes. Rainfall is not immune. There are longer droughts alongside heavier monsoons. In communities where rainfall levels have become more extreme, trying to adjust can be life-ending.
          </p>
        </div>
        <div id="call">
          <p class="left-align light">
            Touring the world on this map, you can find an area where the amount of water in a town’s reservoir has severely depleted--but where rainfall has remained consistent--begging questions of water management or upstream engineering. You might also stumble upon an area where not much has changed on the surface, but where there have been huge spikes and drops in rainfall highs and lows. How has that changed the communities?
          </p><br/><br/>
          <p class="left-align light">
            If you’re a journalist covering a particular area, you can request the raw data for that space. When a climate or water event crops up, you’ll have historical and modern-day data to inform your reporting.
          </p><br/><br/>
          <p class="left-align light">
            The journalists on our team are available to guide you through the map, talk through story ideas and share tips on climate reporting. We have also cultivated a list of water and climate-related experts who are ready to work with you to answer questions and explain any unique findings you might come across. If you reach out to us at <a href="mailto:water.appspot@gmail.com">water.appspot@gmail.com</a>, one of our journalists will respond within the week and set up a time to chat about these possibilities.    
          </p><br/><br/>
          <p class="left-align light">
            We would also like to take this opportunity to express our gratitude to <a href="https://brown.columbia.edu/">The Brown Institute for Media Innovation</a>, without whose support this project would not have been possible.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="parallax-container valign-wrapper">
    <div class="parallax"><img src="/static/images/Dec_2018_Anomaly.gif" alt="Dec 2018 Precipitation Anomaly"></div>
  </div>

  <div class="container" id="research">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Data Sources</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card darken-1">
        <div class="card-content grey white lighten-4">
          <p class="left-align light">
            We used open-source data to built this platform, and are eager to share what we’ve collected. If you’re interested in interacting with and asking questions of the raw data, don’t hesitate to reach out. Our team is ready to send you the data that matches your region and time-period of interest, and to talk through any related questions that come up. 
            <br>
            <br>
            Sources: The National Oceanic and Atmospheric Administration (NOAA) Climate Prediction Center’s Climate Anomaly Monitoring System_OPI provided monthly rainfall data going back to 1978. Columbia University’s International Research Institute houses this information in <a href="http://iridl.ldeo.columbia.edu/maproom/Global/Precipitation/Anomaly.html#tabs-1">its own map</a>. 
            <br>
            <br>
            The global surface water data is courtesy of the European Commission’s Joint Research Centre. Using three million Landsat satellite images, a four-person team at the centre quantified the changes in global surface water between 1984 and 2015. The team published their findings and analysis in Nature in December 2016. Check out their findings <a href="https://www.nature.com/articles/nature20584">here</a>. 
          </p>
        </div>
    </div>
  </div>
  
  <div class="container" id="team">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Team NOAH</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 m6 l4">
        <div class="card grey darken-1 cc">
          <div class="card-content white-text">
            <span class="card-title">Prof. Pietro Ceccato</span>
            <p><strong>Prof. Ceccato</strong> was formerly the Lead Research Scientist of Environmental Monitoring Program at Columbia University's International Research Institute for Climate and Society. He is currently working at SPACEBEL, Liege, Belgium, and is in charge of developing applications of Remote Sensing for agriculture, forestry, natural disasters, human health and pest management.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card grey darken-1 cc">
          <div class="card-content white-text">
            <span class="card-title">Disha Shetty</span>
            <p><strong>Disha Shetty</strong> is an award-winning Science journalist based out of India. She mainly writes about public health, climate change and the intersection between the two.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card grey darken-1 cc">
          <div class="card-content white-text">
            <span class="card-title">Maya Miller</span>
            <p><strong>Maya Miller</strong> is a data-driven investigative journalist based out of the United States. She has written about the intersection of health and climate change for Climate Central, and has reported on a range of topics for Scientific American, ProPublica and The Chicago Tribune.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card grey darken-1 cc">
          <div class="card-content white-text">
            <span class="card-title">Pankhuri Kumar</span>
            <p><strong>Pankhuri Kumar</strong> is currently pursuing a dual master's in computer science and journalism from Columbia University.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card grey darken-1 cc">
          <div class="card-content white-text">
            <span class="card-title">Ravie Lakshmanan</span>
            <p><strong>Ravie Lakshmanan</strong> is a computational journalist currently working as news engineer for Scroll.in. He has previously worked as a wealth management reporter and data journalist for Financial Planning.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer teal">
    <div class="container" id="contact">
      <h4>Contact Us</h4>
      <p class="left-align light">Have any questions? Get in touch with us here: <i class="material-icons">email</i>
              <a class="white-text" href="mailto:water.appspot@gmail.com">Email</a></p>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Built using <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize CSS</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
  <script src="{{ url_for('static', filename='js/init.js') }}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.tabs').tabs();
    });
  </script>

  </body>
</html>
