<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>NOAH</title>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
		   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
		   crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
		   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
		   crossorigin=""></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
        <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<script src="{{ url_for('static', filename='js/d3v4+jetpack.js') }}"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	</head>

	<body>
		<div id='map'></div>
		<br/>
		<a href="/">
			<button id="backButton" class="back-button"> << Learn More</button>
		</a>
		<button id="zoomButton" class="zoom-button">Reset Map</button>
		<button id="layerButton" class="layer-button">Switch Terrain</button>
		<div id='geocoder' class='geocoder'></div>

		<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>	
		<div id='intro-bar' title='Welcome to NOAH!'>
            NOAH shows you changes in rainfall and surface water patterns over the last four decades from across the planet. 
            <br>
            <br>
			There are red and green spots along the map, where bodies of water lie. The reds show areas where  surface water has decreased while the greens indicate an increase. Black clusters represent water bodies that have remained the same. 
			<br>
			<br>
			To get started, you can enter a particular place into the search bar, or browse the map until you find some green or red clusters, and then directly click on a location to zoom in. A pop-up graph will appear with the area’s rainfall changes over time.  
			<br>
			<br>
			NOAH is built for anyone interested in learning about their environment. To see how your community is doing, click its location on the map, or jump into the search bar function. Start exploring. 
		</div>
		<div id='side-bar' title="Here's what you're seeing">
			On the map itself, there are red and green clusters layered onto bodies of water. The red represents a decrease in the amount of surface water in that area in the last three decades, while the green represents an increase. You can zoom in and out to see how the water bodies in your area of interest are faring.   
			<br>
			<br>
			When you click on an area or type into the searchbar and the pop-up graph appears, you can zoom in to get month-by-month data. Hover your mouse over the graph until it turns into a plus sign, then click and drag your mouse over the time-period you’d like to get more detailed information about.  
			<br>
			<br>
			The pop-up shows you a few different findings. The first graph houses a  blue line that depicts  how much monthly rainfall has deviated from the baseline average in that region for the last four decades. 
			<br>
			<br>
			Scroll down the pop-up for a second graph with season rainfall trends for each year for the period July to September. The blue line shows the actual annual rainfall, the orange line indicates the average over time, and the green line depicts the increasing and decreasing trend each year. We are still uploading the most up-to-date information for this section, so if the data for this graph doesn’t appear just yet, check back soon. 
			<br>
			<br>
			Questions? Ping us at <a href="mailto:water.appspot@gmail.com">water.appspot@gmail.com.</a>     
		</div>
		<script src="{{ url_for('static', filename='js/render_map.js') }}"></script>
		<script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
		<script src="{{ url_for('static', filename='js/init.js') }}"></script>
		<script type="text/javascript">
		    $(document).ready(function(){
		      $('#welcome').modal();
		    });
		</script>
	</body>
</html>