<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>NOAH</title>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
		   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
		   crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
		   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
		   crossorigin=""></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
        <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<script src="{{ url_for('static', filename='js/d3v4+jetpack.js') }}"></script>
	</head>

	<body>
		<div id='map'></div>
		<br/>
		<a href="/">
			<button id="backButton" class="back-button"> << Back to site</button>
		</a>
		<button id="zoomButton" class="zoom-button">Reset Map</button>
		<div id='geocoder' class='geocoder'></div>

		<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>	
		<div id='intro-bar' title='Welcome to NOAH!'>
            In Kaliapat, a coastal village in India, Kuntala Rout spends as many as four hours a day filling up vessels with water so her family has enough to drink. Rout says she tries to drink as little water as she can to avoid extra trips to the hand pump. 
            <br>
            <br>
            Rout is not alone. From Kaliapat, to communities along Utah’s northern border in the U.S., to cities in central Argentina, water availability is a pressing issue that transcends borders.
            <br>
            <br>
            Unprecedented climate change, which is exacerbating sea-level rise, droughts and changes in rainfall, is worsening the problem. For many communities, it already has.
            <br>
            <br>
            This project, NOAH, makes water data accessible and understandable. It shows you how much surface water and rainfall has changed near you so you can  better understand your surroundings. 
            <br>
            <br>
            NOAH is built for anyone interested in learning about their environment. To see how your community is doing, click its location on the map, or use the search bar function. Start exploring!
		</div>
		<div id='side-bar' title="Here's what you're seeing">
			The pop-up graph demonstrates the monthly rainfall highs and lows in the region. 
			<br>
			<br>
			The red represents a decrease in the amount of surface water in the last three decades, while the green on the map depicts an increase.
			<br>
			<br>
			Questions? Ping us at <a href="mailto:water.appspot@gmail.com">water.appspot@gmail.com.</a>
		</div>
		<script src="{{ url_for('static', filename='js/render_map.js') }}"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
		<script src="{{ url_for('static', filename='js/init.js') }}"></script>
		<script type="text/javascript">
		    $(document).ready(function(){
		      $('#welcome').modal();
		    });
		</script>
	</body>
</html>