<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>NOAH</title>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
		   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
		   crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
		   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
		   crossorigin=""></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
        <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<script src="{{ url_for('static', filename='js/d3v4+jetpack.js') }}"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	</head>

	<body>
		<div id='map'></div>
		<br/>
		<a href="/">
			<button id="backButton" class="back-button"> << Back to site</button>
		</a>
		<button id="zoomButton" class="zoom-button">Reset Map</button>
		<button id="layerButton" class="layer-button">Toggle Layers</button>
		<div id='geocoder' class='geocoder'></div>

		<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>	
		<div id='intro-bar' title='Welcome to NOAH!'>
            Welcome! NOAH shows you changes in rainfall and surface water patterns over the last four decades from across the planet.
            <br>
            <br>
            To get started, you can enter a particular place into the search bar, or directly click on a location in the map to zoom in and activate a pop-up graph of the area’s rainfall fluctuations. The reds on the map highlight areas where the surface water has decreased while the greens indicate an increase. Black represents  water bodies which remain the same size. 
            <br>
            <br>
            NOAH is built for anyone interested in learning about their environment. To see how your community is doing, click its location on the map, or use the search bar function. Start exploring.
		</div>
		<div id='side-bar' title="Here's what you're seeing">
			When the pop-up graph appears, you can zoom in to get month-by-month data. Hover your mouse over the graph until it turns into a plus sign, click and drag your mouse over the time-period you’d like to get more detailed information for.
			<br>
			<br>
			The pop-up graph shows you a few different findings. The blue line depicts  how much monthly rainfall has deviated from the baseline average in that region for the last four decades. The green line shows TK, whereas the red line shows you the 100-year rainfall trend. 
			<br>
			<br>
			On the map itself, the red represents a decrease in the amount of surface water in the last three decades, while the green represents an increase.
			<br>
			<br>
			Questions? Ping us at <a href="mailto:water.appspot@gmail.com">water.appspot@gmail.com.</a>
		</div>
		<script src="{{ url_for('static', filename='js/render_map.js') }}"></script>
		<script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
		<script src="{{ url_for('static', filename='js/init.js') }}"></script>
		<script type="text/javascript">
		    $(document).ready(function(){
		      $('#welcome').modal();
		    });
		</script>
	</body>
</html>